%html
	%head
		%title
			Kloud Kraft | Custom applications and websites for small businesses in Rochester New York
		%link{ 'rel' => 'stylesheet' , 'type' => 'text/css' , 'href' => 'style/kraft.css' }
		%link{ 'rel' => 'stylesheet' , 'type' => 'text/css' , 'href' => 'style/screen.css' }
		%script{ 'type' => 'text/javascript' , 'src' => 'js/jquery.js' }
		%script{ 'type' => 'text/javascript' , 'src' => 'js/easySlider1.7.js' }
		%script{ 'type' => 'text/javascript' , 'src' => 'js/init.js' }     
	%body
		#top_wrap.wrap
			#top_content.content
				#contact.right
					%span
						Contact us today
					%br
					info@kloudkraft.com	
				%img{'src' => 'img/logo.png' , 'id' => 'logo'}
		#middle_wrap.wrap
			#middle_content.content
				.big_text
					Why do I need Kloud Kraft?
				#middle_text
					Very simply, we get it done right... the first time. Kloud Kraft brings together the latest in best web practices and elegant design.
					%br
					We create unique, cost-effective solutions for your small business challenges. Contact us today for your free consultation.
				.clear
		#bottom_wrap.wrap
			#bottom_content.content
				#right_col.col.right
					%img{'src' => 'img/iPhone.png' , 'id' => 'iphone'}
					.col_text.right
						%h4
							Mobile Apps
						%p
							Ready to go mobile? We can help.
						%ul
							%li
								iPhone
							%li 
								Android
							%li
								HTML5
				#left_col.left.col
					.right.col_text
						%h4 Websites
						%p
							From blogs to custom web applications
						%ul
							%li
								Static Websites
							%li
								Dynamic Content
							%li
								Micro Sites
							%li
								E-Commerce
					%img{'src' => 'img/iMac.png' }
				#bottom_text
					%p#explain
						Let us help you avoid the common mistakes and pitfalls in web development. For many businesses, the first point of contact with a potential customer is their website. A clean, effective website reflects the professionalism of the business. On the other hand, a sloppy website can be a deal-breaker. Thinking about updating your site? Contact us today. 	
					#slider_wrap
						#slider
							%ul
								%li
									%a
										%img{'src' => 'img/small_1.png' }
								%li
									%a
										%img{'src' => 'img/small_2.png' }
					.clear
		#footer_wrap.wrap
			#footer_content.content
				#testimonials_wrap
					%h4
						What our customers say
					#testimonials.rounded
						%p
							From the initial meeting he understood where we wanted to take the project, saw how it could be accomplished and committed himself to delivering the best possible result for our needs. To sum it up Chris met our expectations and has been retained to continue to upgrade and improve our site.
						.right
							\-Mike Kelly
							%br
							DirectBizMatch
						.clear
				#copyright
					Kloud Kraft ltd. copyright 2010 
					%br
					Phone: 585.200.3409 | Email: info@kloudkraft.com  
					%br
					A Rochester New York based software company.
				
							